__pycache__/
.DS_Store
*.zip
.idea/
/*/__pycache__/
/analysis/quic/vp=*
/measurements/credentials.py
/measurements/internet_address_verfploeter_hitlist_*.csv
/measurements/v6_*.csv
/measurements/oi_v6_20251215.csv
/measurements/anycast_census_*.csv
/measurements/oi_v6_20260221.csv
/measurements/analysis/services_notebooks/ip2location/
/measurements/analysis/services_notebooks/census_helper.py
/measurements/analysis/services_notebooks/hrp_results/
/measurements/input/zmap/anycast_prefixes_*.csv
/measurements/input/zmap/*.csv
/measurements/input/zmap/testipv6.txt
/measurements/input/zmap/blocklist.txt
/measurements/input/nmap/responsive_anycast_*.csv
/measurements/input/nmap/nmap_input_*.csv
/measurements/input/nmap/responsive_*.csv
/measurements/input/nmap/*_responsive_*.csv
/measurements/input/nmap/sharding/*
/measurements/input/nmap/sharding/nl-ens/*
/measurements/input/nmap/sharding/au-syd/*
/measurements/input/nmap/shardingv6/*
/measurements/input/nmap/missed_*
/measurements/input/quic/*.csv
/measurements/input/zgrab/*.csv
/measurements/input/zgrab/top100ports*/
/measurements/input/zgrab/dataset=*
/measurements/input/lzr/*.csv
/measurements/results/*
/measurements/nmap-services
/measurements/hrp/
/venv/*
/.vscode/*
/*/.DS_Store
