/measurements/internet_address_verfploeter_hitlist_*.csv
/measurements/v6_*.csv
/measurements/anycast_census_*.csv
/measurements/input/zmap/anycast_prefixes_*.csv
/measurements/input/nmap/responsive_anycast_*.csv
/measurements/input/nmap/zmap_responsive_*.csv
/measurements/results/*
/venv/*
/.vscode/*
/*/.DS_Store
