/measurements/internet_address_verfploeter_hitlist_*.csv
/measurements/v6_*.csv
/measurements/anycast_census_*.csv
/measurements/input/zmap/anycast_prefixes_*.csv
/measurements/input/lzr/
/measurements/input/zmap/*.csv
/measurements/input/zmap/testipv6.txt
/measurements/input/nmap/responsive_anycast_*.csv
/measurements/input/nmap/responsive_*.csv
/measurements/input/nmap/*_responsive_*.csv
/measurements/input/nmap/sharding/*
/measurements/input/nmap/shardingv6/*
/measurements/input/quic/*.csv
/measurements/input/quic/
/measurements/input/zgrab/*.csv
/measurements/input/zgrab/top100ports*/
/measurements/results/*
/measurements/nmap-services
/measurements/input/zmap/initial_qscanner_1a1a1a1a.pkt
/measurements/hrp/
/measurements/notebooks/hrp_results/
/venv/*
/.vscode/*
/*/.DS_Store
